---
layout: default
masthead_class: invisible
---

<div class="portrait">
  <img src="{{ site.baseurl }}/public/flippyhead-small.webp" alt="Peter T. Brown" width="320" height="320">
</div>

<p>
  Hi, I'm <strong>Peter T. Brown</strong>, a software engineer, serial entrepreneur, occasional artist, and wannabe intellectual. Lately, I've also become an angel investor, small-time philanthropist, and private pilot. I started out in college studying Japanese and computer science, but that was in the late '90s, and hey, the opportunity seemed unique, so I dropped out and started a series of technology companies. Some did better than others; mostly, the best are yet to come.
</p>

<p>
  Currently, I live in <a href="https://www.fridayharbor.org">Friday Harbor</a>, WA with my son. For over 20 years I've been a <a href="https://www.geekwire.com/2016/seattle-startup-no-office/">digital nomad</a>, traveling about half the year and working remotely. I'm the president of the <a href="https://sanjuanpilots.org">San Juan Islands Pilots Association</a> and recently joined the board of the <a href="https://www.cirruspilots.org/About-Us/Board-of-Directors">Cirrus Pilots and Owners Association</a>.
</p>

<p>
  My last position was as VP of Research & Development at <a href="https://momentivesoftware.com">Community Brands</a>. Before they acquired us, I was CTO and co-founder of <a href="https://momentivesoftware.com">Pathable</a> for nearly 15 years, where we made software for in-person and virtual events. Lately, I've been recovering from retirement and have developed a few experiments including <a href="https://harohaps.com">Haro Haps</a>, a bespoke calendar of events for the San Juan Islands and <a href="https://mokita.io">Mokita</a>, a tool to help improve your self-perception,  <a href="https://seikai.tv">Seikai.TV</a>, the best way to learn Japanese watching YouTube, and <a href="https://already.dev">already.dev</a> a specialized tool to discover who might already be doing your product or service idea.
</p>

<p>Don't hesitate to contact me here: <a href="mailto:p@ptb.io">p@ptb.io</a>.</p>

{% include goodreads.html %}
{% include spotify.html %}