---
layout: default
masthead_class: invisible
---

<p>
  Hi, I'm <strong>Peter T. Brown</strong>, a software engineer, serial entrepreneur, occasional artist, and wannabe intellectual. Lately, I've also become a small-time investor, philanthropist, and private pilot. I started out in college studying Japanese and computer science, but that was in the late '90s, and hey, the opportunity seemed unique, so I dropped out and started a series of technology companies. Some did better than others; mostly, the best are yet to come.
</p>

<p>
  Currently, I live in <a href="http://www.fridayharbor.org">Friday Harbor</a>, WA with my wife and son. For the last 15 years I've been a digital nomad, traveling about half the year and working remotely.
</p>

<p>
  I am currently a VP of Research & Development at <a href="http://communitybrands.com">Community Brands</a>. Before they acquired us, I was CTO and co-founder of <a href="http://pathable.com">Pathable</a>, where me and my ~120 co-workers continue to make software for in-person and virtual events.
</p>

{% include goodreads.html %}
{% include spotify.html %}