---
layout: default
masthead_class: invisible
---

<img id="image-static" class="lead-image" src="/public/flippyhead-small.png" alt="static profile image"/>
<img id="image-animated" class="lead-image hidden" src="/public/flippyhead-singing.png" alt="animaged profile image"/>
<p>
  Hi, I'm <strong>Peter T. Brown</strong>, a software engineer, serial entrepreneur, occasional artist, and wannabe intellectual. Lately, I've also become an angel investor, small-time philanthropist, and private pilot. I started out in college studying Japanese and computer science, but that was in the late '90s, and hey, the opportunity seemed unique, so I dropped out and started a series of technology companies. Some did better than others; mostly, the best are yet to come.
</p>

<p>
  Currently, I live in <a href="http://www.fridayharbor.org">Friday Harbor</a>, WA with my wife and son. For over 20 years I've been a <a href="https://www.geekwire.com/2016/seattle-startup-no-office/">digital nomad</a>, traveling about half the year and working remotely. I've recently become the president of the <a href="https://sanjuanpilots.org">San Juan Islands Pilots Association</a>.
</p>

<p>
  My last position was as VP of Research & Development at <a href="http://communitybrands.com">Community Brands</a>. Before they acquired us, I was CTO and co-founder of <a href="http://pathable.com">Pathable</a> for nearly 15 years, where we made software for in-person and virtual events.
</p>

{% include goodreads.html %}
{% include spotify.html %}